[submodule "externals/cmake"]
	path = externals/cmake
	url = git@github.com:RobotLocomotion/cmake.git
[submodule "externals/drake"]
	path = externals/drake
	url = git@github.com:RobotLocomotion/drake.git
[submodule "externals/lcm"]
	path = externals/lcm
	url = git@github.com:lcm-proj/lcm.git
        ignore = dirty
